.App {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}

.station-header {
  background-color: #add8e6;
  color: white;
  padding: 10px;
}

.station-info h2,
.departure-info h2 {
  color: #333;
  margin-bottom: 10px;
}

.station-info p,
.departure-info p {
  color: #555;
  margin: 5px 0;
}

.station-info strong,
.departure-info strong {
  color: #000;
}

.departure-item {
  margin-bottom: 20px;
}

.departure-item hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}
